<style>
 .horizontal{
   float: left;
 }

 .horizontal  *{
   display: inline-block;
 }

 .vertical {
   float: left;
   width: 100%;
 }

 .vertical  > *{
   display: block;
   width: 100%;
 }
</style>

<div class="horizontal">
  <div style="width: 70%">
    <p>Lover of Science, Maths and Computers. Love to hack into anything and everything. Nature lover. Curious. Often irritating!</p>
    <p>Dont get me wrong, I am no linguist, but I love languages. At times lazy. Love to learn. And mind you, You wont understand the way I think!</p>
  </div>
  <div style="">
    <img src="https://lh5.googleusercontent.com/-6G-vnchBUL4/AAAAAAAAAAI/AAAAAAAABVg/timwvNzNRSU/s150-c-k-no/photo.jpg" alt="Supposed to be my photo, enable images man!" width="150" height="150" style="border-radius: 90px">
  </div>
</div>
