<div class="vertical">
    <div class="horizontal">
      <div style="width:30px;">{% include svg/email.svg %}</div>
      <p>me [at] maheshm [dot] co [dot] in</p>
    </div>


    <div class="horizontal">
      <a class="no-underline" target="_blank" href="https://github.com/maheshm">
        <div style="width:30px;">{% include svg/github.svg %}</div>
      </a>
      <a class="no-underline" target="_blank" href="https://www.linkedin.com/in/mahesh-mukundan-679b7821/">
        <div style="width:30px;">{% include svg/linkedin.svg %}</div>
      </a>
      <a class="no-underline" target="_blank" href="https://twitter.com/freemahesh">
        <div style="width:30px;">{% include svg/twitter.svg %} </div>
      </a>
    </div>

</div>
