html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
    font-size: 18px;
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

body {
  margin: 0;
  padding: 2em 0 3em 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 200;
  word-wrap: break-word;
  border-top: 2px solid #9dc100;
  line-height: 1.25;
  background-color: black;
  color: white;
}

b, strong {
    font-weight: bold;
}

#js-warning {
  background-color: #ffffcc;
  font-size: .9em;
  margin: 1em 0 1em 0;
  left: -10px;
  position: relative;
  width: calc(100% + 20px);
}

#js-warning__text {
  padding: 10px;
}

.spaced-rows td {
  padding-bottom: .5em;
}

#footer {
  margin-top: 3em;
  font-size: 0.8em;
  color: #BDBDBD;
}

::-webkit-selection { background: lightcyan; }
::-moz-selection { background: lightcyan; }
::-o-selection { background: lightcyan; }
::selection { background: lightcyan; }

.quiz__question--correct {
  border-left: 3px solid #26ff00;
  padding-left: 10px;
  position: relative;
  left: -13px;
}

.quiz__question--incorrect {
  border-left: 3px solid red;
  padding-left: 10px;
  position: relative;
  left: -13px;
}

.starred::before {
  content: '★ ';
  color: lightgray;
  position: absolute;
  margin-left: -1.5em;
  margin-top: 1px;
  text-align: right;
  font-size: .9em;
}

.quiz {
  margin: 2em 0;
}

.quiz__answers {
  display: none;
  margin: 1em 0;
  position: absolute;
}

.quiz__answer {
  margin-right: 20px;
  cursor: pointer;
}

.div-with-margin {
  margin-top: 2em;
  margin-bottom: .5em;
}

.inline {
  display: inline-block;
  margin-right: .5em;
}

.link-image {
  height: 1em;
  width: 16px;
  vertical-align: baseline;
  cursor: pointer;
  position: absolute;
  padding-top: 2px;
  margin-left: 10px;
}

#ghost-icon {
  width: 1.5em;
  height: 1.5em;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 1.5em;
  padding: .5em;
}

#ghost-icon:hover .ghost-icon-eye {
  -webkit-animation: bounce-eye-top .6s infinite;
  -moz-animation: bounce-eye-top .6s infinite;
  -o-animation: bounce-eye-top .6s infinite;
  animation: bounce-eye-top .6s infinite;
}

#ghost-icon:hover {
  -webkit-animation: bounce-top .3s infinite alternate;
  -moz-animation: bounce-top .3s infinite alternate;
  -o-animation: bounce-top .3s infinite alternate;
  animation: bounce-top .3s infinite alternate;
}

.link-black {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.table--padded-rows > tr > td {
  padding-bottom: 1em;
}

.link-black:hover {
  opacity: 1.0;
}

#rss-image {
  height: 0.79em;
  width: 16px;
  vertical-align: baseline;
  cursor: pointer;
  position: relative;
  top: 1px;
  margin-right: 10px;
}

#rss-black {
  opacity: 0.0;
  display: inline-block;
  -webkit-transition: opacity .4s ease;
  -moz-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

#rss-black:hover {
  opacity: 1.0;
}

header {
  margin-bottom: .5em;
}

.center-media {
  margin-top: 2em;
  width: 100%;
}

.small-image-container {
  margin-top: 2em;
  display: block;
  position: relative;
  left: -5px;
  width: calc(100% + 11px);
}

.small-image {
  width: calc((100% - 10px) / 3 - 9px);
  border: 1px solid lightgray;
  display: block;
  float: left;
  margin: 5px;
}

thead {
  font-weight: bold;
}

td {
  padding-right: 1em;
}

.light {
  color: lightgray;
}

ul, ol {
  list-style: none;
  padding-left: 20px;
}

ol {
  counter-reset: item;
}

li {
  position: relative;
}

li::before {
  position: absolute;
  margin-left: -20px;
  text-align: right;
  font-size: .9em;
}

ul > li::before {
  content: '-';
}

ol > li::before {
  content: counter(item);
  counter-increment: item;
}

.image-label {
  text-align: center;
  margin-bottom: 2em;
}

.gist {
  margin-top: 2em;
  margin-bottom: 2em;
}

h2, h3, h4, h5, h6, th {
  margin-bottom: .5em;
  margin-top: .5em;
}

h1 {
  margin-top: .5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
  margin-top: 2em;
}

h4 {
  font-size: 0.9em;
  margin-top: 1.5em;
}

.youtube-video {
  width: 100%;
  height: 325px;
}

a, a:active, a:visited, a:hover {
  border-bottom: 1px dotted #DEDEDE;
  text-decoration: none;
  color: #9dc100;
}

a:hover {
  color: lightblue;
  -webkit-transition: color .4s ease;
  -moz-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s;
}

a.no-underline {
  text-decoration: none;
  border-bottom: none;
}

.dead-link {
  border-bottom: 1px dotted #BDBDBD;
  text-decoration: none;
  color: #BDBDBD;
}

.small {
  font-size: .8em;
}

time,
.light {
  color: #BDBDBD;
}

.grey {
  color: #BDBDBD;
}

.read-time {
  color: #BDBDBD;
}

code {
  font-family: "Inconsolata", monospace;
  font-size: .9em;
  font-weight: bold;
}

.code-file-name {
  position: absolute;
  z-index: 100;
  right: 0px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: .8em;
  border: 1px solid lightgray;
}

p, ul, ol, td, .highlight {
  font-size: .9em;
}

table {
  margin-top: 1em;
}

.no-margin-top {
  margin-top: 0;
}

section#posts {
  position: relative;
  display: block;
  width: 600px;
  margin: 0 auto;
}

.no-margin {
  margin: 0px;
}

th, td {
  text-align: left;
  vertical-align: top;
}

.navigation-container {
  width: calc(100% - 4em);
  margin-left: auto;
  margin-right: auto;
  font-size: .9em;
}

#post-navigation-container {
  margin-top: 3em;
}

.read-more-link-container::after {
  font-family: helvetica;
  position: absolute;
  content: '→';
  margin-left: 1em;
}

.read-more-link-container:hover::after {
  -webkit-animation: bounce-margin-left .75s infinite;
  -moz-animation: bounce-margin-left .75s infinite;
  -o-animation: bounce-margin-left .75s infinite;
  animation: bounce-margin-left .75s infinite;
}

#home-link::before {
  font-family: helvetica;
  position: absolute;
  left: 0px;
  content: '←';
}

#home-link:hover::before {
  -webkit-animation: bounce-left .75s infinite;
  -moz-animation: bounce-left .75s infinite;
  -o-animation: bounce-left .75s infinite;
  animation: bounce-left .75s infinite;
}

#next-post::before {
  font-family: helvetica;
  position: absolute;
  left: 0px;
  content: '←';
}

#previous-post::before {
  font-family: helvetica;
  position: absolute;
  right: 0px;
  content: '→';
}

#next-post:hover::before {
  -webkit-animation: bounce-left .75s infinite;
  -moz-animation: bounce-left .75s infinite;
  animation: bounce-left .75s infinite;
}

#previous-post:hover::before {
  -webkit-animation: bounce-right .75s infinite;
  -moz-animation: bounce-right .75s infinite;
  animation: bounce-right .75s infinite;
}

@-webkit-keyframes bounce-left {
  0%   { left: 0;  }
  75%  { left: .75em;  }
  100% { left: 0;  }
}

@-webkit-keyframes bounce-right {
  0%   { right: 0;  }
  75%  { right: .75em;  }
  100% { right: 0;  }
}

@-webkit-keyframes bounce-margin-left {
  0%   { margin-left: 1em;  }
  75%  { margin-left: .25em;  }
  100% { margin-left: 1em;  }
}

@-webkit-keyframes bounce-top {
  from  { top: 0;  }
  to { top: -.5em;  }
}

@-webkit-keyframes bounce-eye-top {
  0%  { -webkit-transform: translateY(0px); }
  75% { -webkit-transform: translateY(-12px); }
  100% { -webkit-transform: translateY(12px); }
}

@-moz-keyframes bounce-left {
  0%   { left: 0;  }
  75%  { left: .75em;  }
  100% { left: 0;  }
}

@-moz-keyframes bounce-right {
  0%   { right: 0;  }
  75%  { right: .75em;  }
  100% { right: 0;  }
}

@-moz-keyframes bounce-margin-left {
  0%   { margin-left: 1em;  }
  75%  { margin-left: .25em;  }
  100% { margin-left: 1em;  }
}

@-moz-keyframes bounce-top {
  from  { top: 0;  }
  to { top: -.5em;  }
}

@-moz-keyframes bounce-eye-top {
  0%  { -moz-transform: translateY(0px); }
  75% { -moz-transform: translateY(-12px); }
  100% { -moz-transform: translateY(12px); }
}

@keyframes bounce-left {
  0%   { left: 0;  }
  75%  { left: .75em;  }
  100% { left: 0;  }
}

@keyframes bounce-right {
  0%   { right: 0;  }
  50%  { right: .75em;  }
  100% { right: 0;  }
}

@keyframes bounce-margin-left {
  0%   { margin-left: 1em;  }
  75%  { margin-left: .25em;  }
  100% { margin-left: 1em;  }
}

@keyframes bounce-top {
  from  { top: 0;  }
  to { top: -.5em;  }
}

@keyframes bounce-eye-top {
  0%  { transform: translateY(0px); }
  75% { transform: translateY(-12px); }
  100% { transform: translateY(12px); }
}

#next-post {
  float: left;
  text-align: left;
  width: calc(50% - .5em);
}

#previous-post {
  float: right;
  text-align: right;
  width: calc(50% - .5em);
}

.whole-width {
  width: 100% !important;
}

/* 500-pixel layout for smaller screens */
@media (max-width: 700px) {
    html {font-size: 17px;}
    section#posts { width: 500px; }
    .youtube-video { height: 250px; }
    .center-media {
      left: -25px;
      width: calc(100% + 50px);
      position: relative;
    }
}

/* 240-pixel layout for iPhone-sized screens */
@media (max-width: 520px) {
    html {font-size: 16px;}
    section#posts { width: calc(100% - 50px); }
    .youtube-video { height: 200px; }
    .link-image { visibility: hidden; display: none;}
    .small-image-container {
      margin-top: 2em;
      display: block;
      position: relative;
      left: -5px;
      width: calc(100% + 11px);
      overflow: auto;
      white-space: nowrap;
    }
    .small-image {
      border: 1px solid lightgray;
      margin: 5px;
      display: inline;
    }
}

.img-container {
  position: relative;
}

.img-container > svg {
    width: 100%;
    height: 100%;
}

.overlay-img {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;

    -webkit-animation: 3s show;
    -moz-animation: 3s show;
    -ms-animation: 3s show;
    animation: 3s show;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@-webkit-keyframes show {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}
-moz-keyframes show {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}
@-ms-keyframes show {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes show {
    0% { opacity: 0 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

pre.highlight {
  border: 1px solid grey;
  overflow-x: scroll;
  background-color: rgba(256, 256, 256, 0.1);
  padding-left: 5px;
}
